 <!DOCTYPE html>
<html>
<head>
    <title>Webex Meeting Links</title>
</head>
<body>
    <h1>My Webex Sessions</h1>

    <ul>
        <li>
            <a href="https://meet1753323025228-1602.webex.com/meet/pr26418454614">
                Session 1 - Maths Class
            </a>
        </li>

        <li>
            <a href="https://yourcompany.webex.com/meet/session2" target="_blank">
                Session 2 - Physics Class
            </a>
        </li>

        <li>
            <a href="https://yourcompany.webex.com/meet/session3" target="_blank">
                Session 3 - CHemistry Class
            </a>
        </li>
    </ul>
<style>
.logout-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.logout-btn:hover {
    background-color: darkred;
}
</style>
<button onclick="window.location.href='/logout'">
    Logout
</button>
 
</body>
</html>
